<template>
  <v-container class="pt-10">
    <v-card
      width="600px"
      class="mx-auto"
    >
      <v-toolbar color="primary">
        <v-toolbar-title>
          Todo List
        </v-toolbar-title>
      </v-toolbar>

      <v-card-item>
        <v-form @submit.prevent="addTodo">
          <div class="mx-12 text-right mb-2">
            <b>{{ todoList.length }}</b> Tasks
          </div>
          <v-text-field
            v-model="newTodoItem"
            variant="outlined"
            color="primary"
            label="Type your task and press Enter"
          />
        </v-form>
        <div> {{ label }} </div>
      </v-card-item>

      <v-list>
        <todo-list-item
          v-for="(item, i) in todoList"
          :item="item"
          :key="i"
          @remove="removeTodoItem(i)"
          @toggle-completed="toggleCompleted(i)"
          @toggle-editing="toggleEditing(i)"
          @submit-editing="(newText) => submitEditing(newText, i)"
        />
      </v-list>
    </v-card>
  </v-container>
</template>

<script lang="ts" setup>
import { ref, computed } from 'vue';
import TodoListItem from '@/components/TodoListItem.vue';
import type TodoItem from '@/types/todo';

const todoList = ref<TodoItem[]>([]);
const newTodoItem = ref('');

const label = computed(() => todoList.value.length ? 'Your tasks:' : 'You have no tasks, add some');

const addTodo = () => {
  if (newTodoItem.value === '') {
    return;
  }

  todoList.value.push({
    text: newTodoItem.value.trim(),
    isCompleted: false,
    isBeingEdited: false,
  });

  newTodoItem.value = '';
};

const removeTodoItem = (i: number) => {
  todoList.value.splice(i, 1);
};

const toggleEditing = (i: number) => {
  const newValue = !todoList.value[i].isBeingEdited;
  todoList.value.forEach((todoItem) => {
    todoItem.isBeingEdited = false;
  });
  todoList.value[i].isBeingEdited = newValue;
};

const toggleCompleted = (i: number) => {
  todoList.value[i].isCompleted = !todoList.value[i].isCompleted;
  todoList.value[i].isBeingEdited = false;
};

const submitEditing = (newText: string, i: number) => {
  todoList.value[i].text = newText;
  todoList.value[i].isBeingEdited = false;
};
</script>
