<template>
  <v-app-bar
    color="primary"
  >
    <template #prepend>
      <v-app-bar-nav-icon />
    </template>

    <v-app-bar-title>Todo App</v-app-bar-title>

    <v-spacer />

    <v-btn
      v-for="icon in icons"
      :key="icon"
      icon
    >
      <v-icon>{{ icon }}</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts" setup>
const icons = ['mdi-magnify', 'mdi-heart', 'mdi-dots-vertical'];
</script>
