<template>
  <v-list-item class="todo-item">
    <template #prepend>
      <v-list-item-action start>
        <v-checkbox-btn
          color="primary"
          v-model="isCompleted"
        />
      </v-list-item-action>
    </template>

    <v-list-item-title>
      <v-text-field
        v-show="item.isBeingEdited"
        ref="editTextField"
        v-model="newText"
        label="Type new value and press Enter"
        variant="underlined"
        color="primary"
        hide-details
        dense
        @keyup.enter="emit('submit-editing', newText)"
      />
      <span
        v-if="!item.isBeingEdited"
        :class="{ completed: item.isCompleted }"
      >
        {{ item.text }}
      </span>
    </v-list-item-title>

    <template #append>
      <v-list-item-action end>
        <v-btn
          icon="mdi-pencil"
          color="secondary"
          variant="text"
          @click="toggleEditing"
        />
        <v-btn
          icon="mdi-delete-outline"
          color="secondary"
          variant="text"
          @click="$emit('remove')"
        />
      </v-list-item-action>
    </template>
  </v-list-item>
</template>

<script lang="ts" setup>
import { ref, computed, nextTick } from 'vue';
import type TodoItem from '@/types/todo';

const props = defineProps<{
  item: TodoItem
}>();

const emit = defineEmits<{
  remove: []
  'toggle-completed': []
  'toggle-editing': []
  'submit-editing': [newText: string]
}>();

const newText = ref('');
newText.value = props.item.text;

const isCompleted = computed({
  get() {
    return props.item.isCompleted;
  },
  set() {
    emit('toggle-completed');
  },
});

const editTextField = ref<HTMLInputElement | null>(null);
const toggleEditing = async () => {
  newText.value = props.item.text;
  emit('toggle-editing');

  if (props.item.isBeingEdited && editTextField.value) {
    await nextTick();
    editTextField.value.focus();
  }
};
</script>

<style lang="scss">
.todo-item {
  .v-list-item__content {
    display: flex;
    min-height: 60px;
    overflow: visible;
  }

  .v-list-item-title {
    align-self: center;
    flex-grow: 1;
    overflow: visible;
  }

  .v-input {
    margin-top: -18px;
  }
}

.completed {
  text-decoration: line-through;
}
</style>
